*{
    margin:0%;
    padding:0%;
    font-family: Arial;
    box-sizing:border-box;
}
html,body{
    height:100%;
     width:100%
    
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
    
}

.border{
    height: 90%;
    width: 100px;
    border: 1px solid transparent;
    /* padding: 1px; */
}
.border:hover{
    height: 90%;
    width: 100px;
    border: 1px solid white;
    
}

.logo{
    height: 100%;
    width: 100px;
    background-size:cover;
    background-image: url("amazon_logo.png");
}
#address p{
    font-size: small;
}
.icon{
    margin-top: 15px;
    margin-left: 10px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    height: 40px;
    width:750px;
    background-color: rgb(241, 155, 43);
    margin-left: 10px;
    

}
.nav-search:hover{
    border: 3.3px solid  rgb(241, 155, 43);
    border-radius: 4px;
    
}
.search-select{
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: rgb(223, 217, 217);

}
.search-input{
    width:100% ;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    
}
.search-icon{
    width: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5rem;
    color: #0f1111;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.signin{
    font-size: small;
    height: 90%;
    width: 100px;
    border: 1px solid transparent;
}
.signin:hover{
    height: 90%;
    width: 100px;
    border: 1px solid white;
}
.return{
    font-size: small;
}

.nav-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.3px;
    font-weight: 700;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;

}
.cart i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.cart p{
    margin-top: 10px;
}
.panel{
    height: 40px;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 0.7rem;
    font-weight: 600;
    /* justify-content: space-around; */
    background-color: #222f3d;
    color: white;
}
.panel i{
    margin-left: 10px;
    font-size: 1.2rem;
    margin-right: 10px;
}
.text{ 
    border: 1px solid transparent;
    /* margin-left: 20px; */
    display: inline;
    height: 90%;
    width: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.text:hover{
    height: 90%;
    width: 110px;
    color: #febd68;
    border: 1px solid white;
    
}
.hero{
    height:635px;
    background-image: url('hero_image.jpg');
    background-size:cover;
    

}
.shop{
    height: 135vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
  
    
}
.box{
    margin-top:30px;
    background-color: white;
    height: 400px;
    width: 24%; 
    /* text-align: center; */
    padding: 20px 0px 15px;

    /* border: 2px solid #0f1111; */
   
}
.img{
    height: 320px;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.page2{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;

}
footer{
    margin-top: 10px;
}
.panel1{
    height: 50px;
    color: white;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 600;
}
.panel2{
    height:50vh;
    color: white;
    background-color: #222f3d;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* font-size: small; */
    font-weight: 600;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    margin-top:15px;
    font-size: 0.85rem;
    font-weight: 500;
}
.panel3{
    border-top: 0.5px solid white;
    height: 60px;
    color: whitesmoke;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel4{
    height:10vh;
    color: white;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    font-weight: 600;

}
.privacy a{
    margin-top:15px;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 10px;
    justify-content: center;
    
}
.privacy{
    padding: 40px;
    font-size: small;
}
p{
    height:10vh;
    color: white;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    font-size:small;

}
@media (max-width: 1360px) {
    .navbar{
      font-size: 14px;
      line-height: 200%;
      margin-left: 20px;
    }
  }
  
  
  @media (max-width: 1160px) {
    .card ul li {
      line-height: 150%;
    }
  }
  
  @media (max-width: 992px) {
    main {
      padding-left: 0px;
      padding-top: 64px;
    }
}